<h1>Hi <%= @user.firstname.downcase.capitalize() %> <%= @user.lastname.downcase.capitalize() %></h1>

<%= @check %>

<div>
  <container>
    <h2>Here are your bookings</h2>
      <ul>
      <li>Nada</li>
      </ul>
    <h2>Here are your offers</h2>
      <ul>
      <li>Nada</li>
      </ul>
  </container>
</div>
