.navbar-lewagon {
  justify-content: space-between;
  background: $background-nav-foot;
  position:absolute;
  top:0;
  width: 100%;
  height: 80px;
  padding: 25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 200px;

}

.dropdown-menu {
  background-color: $text-light;

  a:hover {
    background-color: $background-nav-foot;
  }
}
