.offer_grid1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $background-nav-foot;
  padding: 20px;
  margin-bottom: 20px;
}

.offer_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.container {
  background-color: $background-nav-foot;
  border-radius: 5px;
  width: 200px;
  height: 230px;
  margin: 10px;
  margin-inline: auto;
  box-shadow: $shadow;
  margin-bottom: 20px;

  .card_title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .card_info {
    display: flex;
    position: absolute;
    justify-content: space-between;
    font-size: small;
    font-weight: 500;
  }

  .description {
    font-size: 13px;
  }

  .inner-container {
    margin-inline-start: -12px;
    margin-inline-end: 15px;
    margin-top: 10px;
    margin-bottom: 10px;


  }

  ul {
    list-style-type: none;
  }
}
/////////high lighted cards
.card-trip {
  overflow: hidden;

  box-shadow: $shadow;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  // margin-bottom: 40px;
}

.picture1 {
  background: rgb(179, 93, 43);
}
.picture2 {
  background: rgb(163, 112, 2);
}
.picture3 {
  background: rgb(175, 118, 85);
}
.picture4 {
  background: rgb(224, 101, 30);
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  padding: 5px;
}
.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: $text-dark;

  a {
    color: $text-dark;
  }
}
