<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner-img.jpg' %>);">
  <div class="container-banner">
    <h1>Hey pal you should <strong>get a friend, seriously!</strong></h1>
    <p>Change your life and get a friend for a while at least</p>
      <a class="book-now" href="#">book now</a>
    </div>
  </div>
</div>
