<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner-img.jpg' %>);">
  <div class="container-banner">
    <h1>Hey pal you should <strong>get a friend, seriously!</strong></h1>
    <p>And if you have friends but need money offer yourself!</p>
      <%= link_to "Offer yourself", new_offer_path, class: "book-now" %>
    </div>
  </div>
</div>
